.logo{
	display: inline-block;
	vertical-align: middle;

	margin-left: 20px;
	margin-right: 92px;

}

.navigation{
	display: inline-block;
	vertical-align: middle;

	
	
}
.nav-li{
	display: inline-block;

}
.list-item{
	font-size: 11px;
	color: #343638;

}
.image{

	vertical-align: middle;
	

	
}
.space{
	
}
.space1{
	margin-left: 27px;
	margin-right: 22px;
}
.space3{
	margin-left: 22px;
	margin-right: 40px;
}

.container{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	
}
.left-block{

	width: 360px;
	height: 350px;
	display: inline-block;
	vertical-align: middle;
}
.h1{

	margin-bottom: 40px;
	font-size: 24px;

}
.text{
	width:280px;
	height: 64px;
	margin-top: 66px;
	margin-left:auto ;
	margin-right: auto;
}

.middle-block{

	width: 360px;
	height: 350px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;
	margin-right: 35px;
}
.right-block{

	width: 360px;
	height: 350px;
	display: inline-block;
	vertical-align: middle;
	
}
.text-style{
	margin-bottom: 7px;
}

.icon{
	margin-right: 10px;
	vertical-align: middle;
}
.container2{
	margin-top: 58px;
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
}
.left-block2{
	display: inline-block;
	vertical-align: top;
	width: 760px;
	margin-right: 35px;
}
 
.top{
	
	margin-bottom: 40px;
}
.right-block2{
	display: inline-block;
	vertical-align: top;
	width: 360px;
}

.top2{
	margin-bottom: 102px;
}
.middle2{
	margin-bottom: 102px;
}

/*fixed heder*/
.header-wraper{

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;



}
/*.section-after-header{
	margin-top: 30px;
}*/

.body{
	padding-top: 30px;
}